services:
  keycloak_db:
    image: postgres:16.2
    volumes:
      - keycloak_db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}              # keycloak_db
      POSTGRES_USER: ${POSTGRES_USER}          # keycloak_db_user
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}  # keycloak_db_user_password
    networks:
      - tpi_network

  keycloak:
    image: quay.io/keycloak/keycloak:23.0.6
    command: start --import-realm
    environment:
      KC_HOSTNAME_URL: http://localhost:8080
      KC_HOSTNAME_STRICT_BACKCHANNEL: false
      KC_HTTP_ENABLED: true
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_HEALTH_ENABLED: true
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}              # admin
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}  # ds2025
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak_db/${POSTGRES_DB}
      KC_DB_USERNAME: ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "8080:8080"
    volumes:
      - ./realm-config:/opt/keycloak/data/import:ro
    restart: always
    depends_on:
      - keycloak_db
    networks:
      - tpi_network

  stock_backend_api:
    build:
      context: ../TPI-BACK-STOCK
      dockerfile: Dockerfile
    container_name: stock_backend_api
    ports:
      - "8000:8000"
    environment:
      NODE_ENV: production
      PORT: 8000
      
      # Configuración Supabase - Session Pooler
      DB_HOST: aws-1-us-east-2.pooler.supabase.com
      DB_PORT: 5432
      DB_NAME: postgres
      DB_USER: postgres.vzabfnzrcynffhdjdddv
      DB_PASSWORD: ${SUPABASE_DB_PASSWORD}  # 7[454ATMEpV5

      # Keycloac config
      KEYCLOAK_TOKEN_URL: ${KEYCLOAK_TOKEN_URL}
      KEYCLOAK_CLIENT_ID: ${KEYCLOAK_CLIENT_ID}  
      KEYCLOAK_CLIENT_SECRET: ${KEYCLOAK_CLIENT_SECRET}
      
      # Configuración para Keycloak:
      KEYCLOAK_ISSUER_URL: http://keycloak:8080/realms/ds-2025-realm
      KEYCLOAK_AUDIENCE: grupo-05
    depends_on:
      keycloak:
        condition: service_started
    networks:
      - tpi_network
    restart: unless-stopped

volumes:
  keycloak_db_data:
    driver: local

networks:
  tpi_network:
    driver: bridge